*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}

.container{
  width: 70%;
  margin: auto;
}

/* topbar */
.topbar{
  height: 60px;
  background-color: #F4F9FD;
  border-bottom: 1px solid #33475B;
  line-height: 40px;
}

.topbar::after{
  content: "";
  display: block;
  clear: both;
}

.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* topbar-left */
.topbar-left{
  text-align: left;
  float: left;
}

.fa-globe-americas{
  font-size: 12px;
}

.fa-chevron-down{
  padding-left: 2px;
}
/* /topbar-left */

/* topbar-right */
.topbar-right{
  text-align: right;
}

.fa-search{
  font-size: 15px;
  color: #00A48D
}

.button{
  border: 1px solid #FF8F59;
  padding: 7px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  border-radius: 5px;
}

.login{
  background-color: white;
  color: #FF8F59;
  border: 1px solid #FF8F59;
}

.btn-orange{
  background-color: #FF8E59;
  color: white;
}
/* /topbar-right */
/* /topbar */

/* topbar-bottom */
.topbar-bottom{
  height: 60px;
  background-color: white;
  line-height: 40px;
}

.topbar-bottom img{
  float: left;
  width: 8%;
  padding-top: 18px;
}

.topbar-bottom-menu{
  text-align: right;
}

.topbar-bottom-menu .fa-chevron-down{
  padding-left: 15px;
  padding-top: 17px;
}
/* /topbar-bottom */

/* banner */
.banner{
  height: 450px;
  background-color: #FFF1EF;
  border-bottom: 2px solid #33475B;
  position: relative;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: 100% 48%;
}

.banner-left{
  width: 50%;
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translateY(-50%);
}

.banner-left H1{
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.banner-left .banner-p{
  font-size: 12px;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.6;
}

.banner-left .banner-p2{
  font-size: 10px;
}
.banner-left .btn-orange{
  padding: 15px 25px;
  margin-bottom: 20px;

}
/* /banner */

/* banner-bottom */
.banner-bottom{
  height: 60px;
  background-color: #AFEBE4;
  border-bottom: 2px solid #33475B;
}
/* /banner-bottom */
