/* valori generici */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #33475B;
  background-color: #F4F9FD;
}

.container{
  width: 70%;
  margin: auto;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

p{
  font-size: 12px;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.6;
}

.button{
  border: 1px solid #FF8F59;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  border-radius: 5px;
  padding: 15px 25px;
  background-color: #FE775A;
  color: white;
}
/* /valori generici */

/* header */
/* topbar */
.topbar{
  height: 60px;
  border-bottom: 1px solid #33475B;
}

.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
}

/* topbar-left */
.topbar-left{
  text-align: left;
  float: left;
  padding-top: 8px;
}

.fa-globe-americas{
  font-size: 12px;
}

.fa-chevron-down{
  padding-left: 2px;
}
/* /topbar-left */

/* topbar-right */
.topbar-right{
  text-align: right;
}

.fa-search{
  font-size: 12px;
  color: #00A48D;
  padding-right: 10px;
}

.btn-login{
  padding: 7px;
  background-color: white;
  color: #FE775A;
  border: 1px solid #FE775A;
}

.btn-topbar{
  padding: 7px;
}
/* /topbar-right */
/* /topbar */

/* topbar-bottom */
.topbar-bottom{
  height: 60px;
  background-color: white;
  line-height: 40px;
}

.topbar-bottom img{
  float: left;
  width: 8%;
  padding-top: 18px;
}

.topbar-bottom-menu{
  text-align: right;
}

.topbar-bottom-menu .fa-chevron-down{
  padding-left: 15px;
  padding-top: 17px;
}
/* /topbar-bottom */

/* banner */
.banner{
  height: 450px;
  background-color: #FFF1EF;
  border-bottom: 2px solid #33475B;
  position: relative;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: 100% 48%;
}

.banner-left{
  width: 50%;
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translateY(-50%);
}

.banner-left H1{
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.banner-left .banner-p2{
  font-size: 10px;
}
.banner-left .button{
  margin-bottom: 20px;
}
/* /banner */

/* banner-bottom */
.banner-bottom{
  height: 60px;
  background-color: #AFEBE4;
  border-bottom: 2px solid #33475B;
}
/* /banner-bottom */
/* /header */

/* main */
/* sezione img cubi */
.cube-container{
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.cube{
  height: 300px;
  text-align: center;;
}

.cube img{
  width: 200px;
  padding-top: 30px;
}

.cube p{
  text-align: center;
  padding-top: 20px;
}
/* /sezione img cubi */

/* sezione freehub */
.cont-white{
  background-color: white;
  box-shadow: 0 0 5px rgba(50, 73, 91, 0.2);
  height: 250px;
  margin-bottom: 40px;
  position: relative;
}

.freehub-left{
  width: 35%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.freehub-left img{
  padding-bottom: 10px;
}

.freehub-left .btn-orange{
  padding: 15px 25px;
  margin-bottom: 20px;
}

.freehub-right{
  float: right;
  width: 65%;
  padding-top: 40px;
}

.freehub-right h3{
  padding-bottom: 20px;
}
.freehub-right h4{
  padding-bottom: 5px;
  text-transform: uppercase;
}
.freehub-right ul{
  list-style: none;
}

.freehub-right li{
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
}

.freehub-right .fa-check-circle{
  padding-right: 10px;
  color: #FF8E59;
}
/* /sezione freehub */

/* sezione tre colonne */
.three-columns .cont-white{
  height: 500px;
  width: 30%;
  float: left;
  text-align: center;
}

#center-cont-white{
  margin: 0 5%;
}

.inner-container{
  margin: 30px;
}

.three-columns .cont-white img{
  padding-bottom: 20px;
}

.three-columns .cont-white p{
  text-align: center;
  padding: 20px 0;
}

.inner-container h5{
  padding: 20px 0;
  text-transform: uppercase;
}
.inner-container ul{
  list-style: none;
  padding-bottom: 30px
}

.inner-container li{
  cursor: pointer;
  font-size: 12px;
  text-align: left;
}

.inner-container .fa-check-circle{
  padding-right: 10px;
  color: #FF8E59;
}
/* /sezione tre colonne */

/* sezione verde */
.green-section{
  background-image: linear-gradient(to top right, #00AFB3, #07B6AC);
  /* background-color: #00AFB3; */
  height: 500px;
  color: #F4F9FD;
}

.green-section h2{
  text-align: center;
}

.green-section p{
  text-align: center;
}

.title p{
  padding: 20px 0 20px 0;
}

.title h2{
  padding-top: 40px;
  }

.box{
  background-color: #00AFB3;
  height: 130px;
  width: 25%;
  float: left;
  text-align: center;
}

.box-rb{
  border-right: 1px solid #F4F9FD;
  border-bottom: 1px solid #F4F9FD;
}

.box-b{
  border-bottom: 1px solid #F4F9FD;
}

.box-r{
  border-right: 1px solid #F4F9FD;
}

.box p{
  font-size: 10px;
}

.box h2{
  padding-bottom: 10px;
}

#box-img {
  padding-top: 6px;
}

#box-fas{
  font-size: 30px;
  padding: 13px 0 13px 0;
}
  /* /sezione verde */

/* ultima sezione main */
/* top */
.main-bottom{
  background-color: white;
  height: 530px;
}

.customers{
  height: 200px;
}

.customers-left{
  width: 40%;
  padding: 50px;
  position: relative;
}
.customers-left h1{
  font-weight: bolder;
  font-size: 40px;
}
.customers-left ul{
  list-style: none;
  padding-top: 20px;
}

.customers-left li{
  font-size: 12px;
  text-align: left;
}

.customers-right{
  width: 60%;
  float: right;
  text-align: center;
  transform: translateY(-150%);
}
/* /ultima sezione top */

/* ultima sezione bottom */
.growing{
  height: 400px;
  padding-top: 30px;
}

.growing-left{
  width: 40%;
  float: left;
}

.growing-left h2{
 font-weight: bolder;
}

.growing p{
  padding-top: 30px;
  text-align: left;
}

.growing-p2{
  font-size: 10px;
}
.growing-right{
  position: relative;
}

.growing-right img{
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-10%);
}
/* /ultima sezione main */
/* /main */

/* footer */
footer{
  height: 460px;
  background-color: #32495B;
}

/* sezione quattro colonne */
.four-columns div{
  width: 25%;
  height: 300px;
  float: left;
}

.four-columns .list-top{
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 20px 0 10px 0;
}

.four-columns ul{
  list-style: none;
  padding-bottom: 10px;
}

.four-columns li{
  color: #EAF0F6;
  line-height: 2.2;
  font-size: 12px;
}

.btn-footer{
  border: none;
  color: #32495B;
  background-color:#EAF0F6;
  padding: 7px;
  margin-bottom: 8px;
}

.four-columns .social{
  font-size: 12px;
  color: #EAF0F6;
}

.four-columns .social li{
  display: inline;
  padding-right: 15px;
}
/* /sezione quattro colonne */

/* sezione lingue e fondo pagina */
.languages{
  height: 50px;
  clear: both;
  border-bottom: 1px solid #EAF0F6;
}

.lang-list ul{
  list-style: none;
  text-align: center;
  padding-top: 10px;
}

.lang-list li{
  display: inline-block;
  font-size: 12px;
  color: #EAF0F6;
  padding: 10px;
}

.footer-left{
  width: 50%;
  padding-top: 20px;
  float: left;
}

.footer-left p{
  color: #EAF0F6;
  font-size: 12px;
  text-align: left;
}

.footer-right{
  width: 50%;
  float: right;
  text-align: right;
  padding-top: 30px;
}

.footer-right ul{
  list-style: none;
}

.footer-right li{
  color: #EAF0F6;
  font-size: 12px;
  display: inline-block;
  padding-left: 10px;
}
/* /sezione lingue e fondo pagina */
/* /footer */
